<ngx-table>
  <tr *ngFor="let data of table1.data">
    <ngx-table>
      <tr *ngFor="let data of table1.data">
        <ng-container *ngFor="let header of table1.headers">
          <td [header]="header">
            <strong>{{ data[header] }}</strong>
          </td>
        </ng-container>
      </tr>
    </ngx-table>
  </tr>
</ngx-table>
<button (click)="addColumn()">add column</button>
<button (click)="addData()">add data</button>
<button (click)="removeColumn()">remove column</button>
<button (click)="removeData()">remove data</button>
